.btn {
    display: flex;
    /* height: 40px; */
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    text-align: center;
    padding-right: 16px;
    background-color: #019160;
    line-height: 40px;
    font-size: 13px;
    font-family: MISAGoogleSans;
    border: none;
    outline: none;
    align-items: center;
    cursor: pointer;
}

.btn .btn-text {
    margin-right: 8px;
}

.btn:hover {
    background-color: #2FBE8E;
}

.btn.button:active {
    background-color: #01B075;
}


/* .btn .icon-add{
    background-image: url("../../content/icon/add.png");
} */

.m-second-button {
    color: #000000;
    text-align: center;
    cursor: pointer;
    background-color: white;
    padding: 2px;
}

.m-btn-refresh {
    border-radius: 4px;
    border: none;
    margin-left: 8px;
}

.m-btn-export {
    border-radius: 4px;
    border: none;
    margin-right: 16px;
    margin-left: 8px;
}

.m-second-button:hover {
    background-color: #e9ebee;
}


/* .m-btn-refresh{
    background-image: url("../../content/icon/refresh.png");
    background-repeat: no-repeat;
    background-position: center ;
    outline: none;
    height: 40px;
    width: 40px;
}
.account-more-setting{
    background-image: url("../../content/icon/option.png");
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
} */


/* paging */

.m-btn-page {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    border: none;
}

.m-btn-page:hover {
    background-color: white;
}

.m-btn-pagenumber {
    color: black;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 50%;
    background-size: contain;
    align-items: center;
    border: 1px solid #bbbbbb;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    display: grid;
    background-color: #e9ebee;
}

.m-btn-pagenumber:hover {
    background-color: white;
    color: black;
}

.active-page {
    background-color: #019160;
    color: white;
}

.m-btn-pagenumber.active-page:hover {
    background-color: #2FBE8E;
    color: white;
}

.m-btn-save {
    height: 40px;
    right: 0px;
    margin-left: 8px;
    padding-right: 16px;
}

.m-btn-cancel {
    height: 40px;
    width: 90px;
    /* margin-right: 16px; */
    /* right: 100px; */
    /* position: absolute; */
    /* text-align: center; */
    background-color: #e9ebee;
    border: white;
    border-radius: 4px;
    font-family: MISAGoogleSans;
}

.btn-cancel-text {
    margin-left: 17px;
    color: black;
}

.btn-delete {
    margin-left: 16px;
    background-color: crimson;
}

.btn-delete:hover {
    background-color: #F65454;
}

.m-btn-exit {
    border-radius: 0 4px 0 4px;
    border: white;
    right: 0;
    position: absolute;
    top: 0;
    height: 40px;
}

.m-btn-cancel:hover {
    background-color: #BBBBBB;
}

.btn-add {
    margin-left: 16px;
}